//Foundations
@import 'foundations/_mixins';
@import 'foundations/_variables';

//Elements
@import 'elements/_buttons';
@import 'elements/_navLinks';
@import 'elements/_typography';

//Components
@import 'components/_footer';
@import 'components/_navBar';

//layouts
 
* {
    box-sizing: border-box;
}

body {
    margin : 0px;
    font-family: $text-font-family;
    font-size: $base-font-size;
}