@font-face {
	font-family: 'Poppins';
	src: url('Poppins-Regular.ttf') format('truetype'),
    url('Poppins-Black.ttf') format('truetype'),
    url('Poppins-BlackItalic.ttf') format('truetype'),
    url('Poppins-Bold.ttf') format('truetype'),
    url('Poppins-BoldItalic.ttf') format('truetype'),
    url('Poppins-ExtraBold.ttf') format('truetype'),
    url('Poppins-ExtraBoldItalic.ttf') format('truetype'),
    url('Poppins-ExtraLight.ttf') format('truetype'),
    url('Poppins-ExtraLightItalic.ttf') format('truetype'),
    url('Poppins-Italic.ttf') format('truetype'),
    url('Poppins-Light.ttf') format('truetype'),
    url('Poppins-LightItalic.ttf') format('truetype'),
    url('Poppins-Medium.ttf') format('truetype'),
    url('Poppins-MediumItalic.ttf') format('truetype'),
    url('Poppins-SemiBold.ttf') format('truetype'),
    url('Poppins-SemiBoldItalic.ttf') format('truetype'),
    url('Poppins-Thin.ttf') format('truetype'),
    url('Poppins-ThinItalic.ttf') format('truetype'),
}

@font-face {
	font-family: 'CaviarDreams';
	src: url('CaviarDreams.ttf') format('truetype'),
    url('CaviarDreams-Italic.ttf') format('truetype'),
    url('CaviarDreams-BoldItalic.ttf') format('truetype'),
    url('CaviarDreams-Bold.ttf') format('truetype'),
}

@font-face {
	font-family: 'Rasputin';
	src: url('Rasputin.otf') format('woff2')
}