$nav-background: white;
$nav-link-background: white;
$nav-link-color: black;
$nav-link-hover-color: red;

.nav {
    &__logo {
        img {
            max-width: 50px;
            display: inline-block;
          }
    }  
  &__list {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
  }
  &__item {
    list-style: none;
    a {
      padding: 10px;
      display: inline-block;
      text-decoration: none;
      background: $nav-link-background;
      color: $nav-link-color;
      &:hover {
        color: $nav-link-hover-color;
      }
    }
  }
}