.nav {
  padding: 10px;
  margin: 0px;
  background: $white;
  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    justify-content: center;
    margin-left: 30px;
    img {
      max-width: 50px;
      display: inline-block;
 
    }
  }  
  &__item {
    list-style: none;
    a {
      padding: 10px;
      display: inline-block;
      text-decoration: none;
      color: $black;
      &:hover {
        color: $HMColor;
      }
    }
  }
  &__right{
    width:10%;
    justify-self : end;
    justify-content: space-around;
  }
  &__middle{
    width: 50%;
    justify-content: center;
    .nav__icon {
      padding-left: 20px;
    }
  }
  
}